<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

    <script src="static/js.js"></script>
</head>
<body>
    <header>
        <h1>Safetywhat</h1>
        <h2>Demonstrating Multithreading + Generators + Realtime </h2>
    </header>

    <div class="wrapper">
        <div class="element1">
            <label for="infinite"> Here is the value of infinite loop</label>
            <b><p name="infinite" id="infinite"></p></b>
        </div>
        <div class="element2">
            <input type="text" id="input" placeholder="Type text here">
            <button id="btn">Submit here to add list elements</button>
            <ul id="text-entered">

            </ul>
        </div>
    </div>
    
</body>
</html>